body {
  background-color: black;
  color: white;
}

canvas {
    position: absolute;
    margin-left: -110px
}

#englishGuessField {
  position: absolute;
  margin-top: 50px;
  margin-left: -12px;
  display: inline;

}

#morseGuessField {
  position: absolute;
  margin-top: 75px;
  margin-left: -26px;
  display: inline;

}

input {
    width: 200px;
}

strong {
  margin: 0px;
  padding: 0px;
}
