body {
  background-color: white;
  color: white;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

canvas {
    position: absolute;
    margin-left: -110px
}

#englishGuessField {
  position: absolute;
  margin-top: 50px;
  margin-left: -12px;
  display: inline;
  -webkit-user-select: none !important;

}

#morseGuessField {
  position: absolute;
  margin-top: 75px;
  margin-left: -26px;
  display: inline;
  -webkit-user-select: none !important;
}

input {
    width: 200px;
}

strong {
  margin: 0px;
  padding: 0px;
}

a {
  /*padding-right: .6em;*/
  color:inherit;
  text-decoration:none;
  font-size: 1.2em;
}

.noCircle {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: .55em;
  padding: 8px;
  font-size: 32px;
  line-height: 1em;
  border: 2px solid ;
  position: relative;
}

.numberCircle {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: .7em;
    padding: 8px;
    font-size: 32px;
    line-height: 1em;
    border: 2px solid rgba(255, 255, 255, 0);
    position: relative;

}
.numberCircle .height_fix {
    margin-top: 100%;
}
.numberCircle .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -16px; /* Note, this must be half the font size */
}

.showBorder {
  border: 2px solid rgba(255, 255, 255, 1);
}
